<a href="/contacts/new">Create a new Contact</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td><a href="/contacts/<%= contact.id %>"><%= contact.id %></a></td>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.email %></td>
      <td>
        <a href="/contacts/<%= contact.id %>/edit">Edit</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>